@font-face {
  font-family: "Outfit";
  src: url(https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" rel="stylesheet");  
}

body {
  background-color: hsl(212, 45%, 89%);
  width: 100vw;
  height: 98vh;
  margin: auto auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-container {
  width: 17rem;
  height: 27rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 17px;
  margin: 0 auto;
  padding: 10px;
  display: block;
  text-align: center;
}

img {
  height: 17rem;
  width: 17rem;
  margin: auto auto;
  border-radius: 17px;
}

p {
  font-family: "Outfit";
}

.bold-larger-text {
  font-weight: 600;
  font-size: 22px;  
  color: hsl(218, 44%, 22%);
}

.normal-smaller-text {
  font-weight: 400;
  font-size: 16px;
  color: hsl(216, 15%, 48%);
}
