body {
  background-color: hsl(212, 45%, 89%)
  margin: auto auto;
}

main {
  width: 375px;
  height: 66%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
}

img {
  margin: auto auto;
  border-radius: 15px;

}
