body {
  background-color: hsl(212, 45%, 89%);
}

main {
  width: 375px;
  height: 40rem;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  margin: auto auto;
}

.card-container {
  height: 30rem;
  width: 80rem;
}

.card-img-container {
  height: 30rem;
  width: 80rem;
}

img {
  margin: auto auto;
  border-radius: 15px;
  height: 20rem;
  width: 20rem;
}
